/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

#contact , #login {
	width: 50%;
	margin: auto;
	padding-top: 150px;
}
#contact , #login > * {
	text-align: center;

}
#contact h2, #login h2 {
	margin-bottom: 20px;
}
#contact form ,#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input ,#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label ,#login label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.filters-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding-bottom: 25px;
}

.button-filter {  
	display: flex;
	align-items: center;
	height: 37px;
	font-family: 'Syne';
	font-size: 16px;
	border: 1px solid #1D6154;
	border-radius: 20px;
	color: #1D6154;
	background-color: white;
	padding-left: 15px;
    padding-right: 15px;
}

.display-none {
	display: none;
}

.button-filter:hover, .button-filter-active {
	background-color: #1D6154;
	color: white;
}


a {
	text-decoration: none;
}
.body-login {
	max-width: 1440px;
	height: 1024px;
}
footer {
	width: 1440px;
}

.forget-password {
	text-decoration: underline;
}

.input-error {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 20px;
	font-size: 16px;
	color: red;
}


/* partie de css pour Modal */

.modal {
	position: fixed;
	display: none;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-wrapper {
	width: 630px;
	height: 670px;
	max-width: calc(100vw - 20px);
	max-height: calc(100hw - 20px);
	padding: 20px;
	background-color: #FFF;
	border-radius: 10px;
	position: relative;
}

.works-modal > img {
	height: 120px;
	width: 92px;
}

.edition-mode {
	display: flex;
	width: 100%;
	height: 59px;
	gap: 5px;
	align-items: center;
	justify-content: center;
	color: #FFF;
	background-color: black;
}

.modif-mode {
	display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 15px;
}

#gallery-modal {
	display: grid;
	grid-template-columns: 19% 19% 19% 19% 19%;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
	padding-top: 40px;
    padding-right: 65px;
    padding-left: 65px;
}
.title-modal {
	display: flex;
    justify-content: center;
	font-family: 'Work Sans';
	font-weight: 400;
    font-size: 26px;
    padding-top: 50px;
}
.close {
	color: #aaaaaa;
	float: right;
	font-size: 24px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.icon-return {
	color: #aaaaaa;
	float: left;
	font-size: 24px;
	font-weight: bold;
}
.icon-return:hover,
.icon-return:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.works-modal {
	position: relative ;
}
.delete-icone {
	position: relative;
	width: 10px;
	height: 11px;
	color: #FFF;
	
}
.button-delete {
	position: absolute;
	top: 5px;
    right: 5px;
    padding: 3px;
	background-color: black;
    border-radius: 4px;
    width: 21px;
    height: 23px;
	border: none;
}
hr {
	border: none;
  border-top: 1px solid #B3B3B3;
  color: #333;
  text-align: center;
  height: 5px;
  width: 80%;
}

hr::after {
  background: #fff;
  content: '';
  padding: 0 4px;
  position: relative;
  top: -20px;
}
#barre {
	position: relative;
    top: 40px;
}
.add-work {
	position: relative;
    bottom: -83px;
    left: 32%;
	width: 237px;
    height: 36px;
    border-radius: 26px;
	background-color: #1D6154;
    color: white;
    border: 1px solid #1D6154;
	font-size: 14px;
}
.hide {
	display: none;
}

/* partie de css pour Modal de validation*/

.add-photo {
	display: flex;
	width: 173px;
    border-radius: 26px;
    align-items: center;
    justify-content: center;
    height: 36px;
	font-family: 'Work Sans';
}

.icon-foradd {
	width: 76px;
	height: 76px;
}
#Add-photo-frame {
	height: 169px;
    width: 450px;
	background-color: #E8F1F6;
    margin-top: 36px;
	display: grid;
	justify-content: center;
	margin: 20px;
}
#inner-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
}
#create-work {
	width: 420px;
}

label {
    text-align: left;
    margin-bottom: 5px; 
}
#name {
	width: 450px;
    height: 40px;
}
#categories-select {
	width: 460px;
    height: 50px;
}

